/* 透過特定 class name，定義主題色 */

.color-primary1 {
  color: #9DCBDF;
}

.color-primary2 {
  color: #F07759;
}

.color-primary3 {
  color: #22B45F;
}

.color-secondary1 {
  color: #909090;
}

.color-secondary2 {
  color: #1F1E1C;
}

.color-secondary3 {
  color: #FFFFFF;
}
/* border 顏色屬性 */
.br-primary1 {
  border-color: #9DCBDF;
}

.br-primary2 {
  border-color: #F07759;
}

.br-primary3 {
  color: #22B45F;
}

.br-secondary1 {
  border-color: #909090;
}

.br-secondary2 {
  border-color: #1F1E1C;
}

.br-secondary3 {
  border-color: #FFFFFF;
}

.bg-primary1 {
  background-color: #9DCBDF;
}

.bg-primary2 {
  background-color: #F07759;
}

.bg-primary3 {
  color: #22B45F;
}

.bg-secondary1 {
  background-color: #909090;
}

.bg-secondary2 {
  background-color: #1F1E1C;
}

.bg-secondary3 {
  background-color: #FFFFFF;
}

/* 提供給 product picker 使用 */
.bg-offcanva {
  background-color: rgba(53, 53, 53, 0.8);
}