/* 放一些全域的 css 屬性 */

:root {
  font-size: 14px;
}

body {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}

/* 使用 inherit 屬性，讓子物件繼承父層屬性，這樣寫比較有彈性 */
*,
*::before,
*::after
{
  font-family: inherit; 
  box-sizing: inherit;
}