/* 添加 react 的 normalizer... */
@import-normalize; 

/* reset bootstrap ol, ul settings  */
.list-reset {
  padding-left: 0;
}

/* reset button appearance setting */
.btn-reset {
  all: unset;
  /* 使用 inherit 屬性，讓子物件繼承父層屬性，這樣寫比較有彈性 */
  box-sizing: inherit;
}